<!DOCTYPE html>
<html lang="zxx">
  <head>
    <title>BurnTune | Signup</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="BurnTune - Learn music at anytime anywhere" />
    <meta name="keywords" content="music, singing, band, guitar" />
    <meta name="author" content="Sriesh_Agrawal" />
    <meta name="theme-color" content="#0A183D" />
    <!-- FOR FACEBOOK -->
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="BurnTune"
    />
    <meta
      property="og:description"
      content="BurnTune - To teach the world how to make music and thrive "
    />
    <meta
      property="og:image"
      content="img/favicon.png"
    />
    <meta property="og:url" content="https://burntune.herokuapp.com/" />
    <meta property="og:site_name" content="BurnTune - To teach the world how to make music and thrive " />

    <!-- FOR FACEBOOK END -->
    <!-- FOR TWITTER -->

    <meta name="twitter:card" content="website" />
    <meta name="twitter:site" content="BurnTune" />
    <meta
      name="twitter:title"
      content="BurnTune"
    />
    <meta
      name="twitter:description"
      content="BurnTune - To teach the world how to make music and thrive "
    />
    <meta name="twitter:creator" content="@Sriesh_Agrawal" />
    <meta
      name="twitter:image"
      content="img/favicon.png"
    />

    <meta itemprop="name" content="Business Website" />
    <meta
      itemprop="description"
      content="BurnTune - To teach the world how to make music and thrive"
    />
    <meta itemprop="image" content="#" />
    <!-- FOR TWITTER END  -->

    <link href="img/favicon.png" rel="shortcut icon" />

    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i&amp;display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/register.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>

    <style>
      body {
        background-color: #212529;
      }
      .form-control
      {
        max-width: 96%;
      }
      .btn-block
      {
        max-width: 96%;
      }
    </style>

    <div id="preloder">
      <div class="loader"></div>
    </div>

    <nav
    style="background-color: rgb(24, 26, 27)"
    class="fixed-top navbar navbar-expand-lg"
  >
    <a class="site-logo navbar-brand" href="/"
      ><img src="img/logo2.png" alt=""
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="dark-blue-text"
        ><i style="color: #fc0254" class="fa fa-angle-double-down fa-2x"></i
      ></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/"
            >Home <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contactus">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Dropdown link
          </a>
          <div
            style="border: none; background-color:rgb(24, 26, 27)"
            class="dropdown-menu fade-up"
            aria-labelledby="navbarDropdownMenuLink"
          >
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
      <ul style="margin-right: 40px" class="navbar-nav ml-auto">
        <% if(!currentUser){ %>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a style="color: white" class="disp992none nav-link">|</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link2" href="/register">Register Now</a>
        </li>
        <% } else { %>
        <li class="nav-item">
          <a class="nav-link" href="#"
            ><i class="fa fa-user"></i> <%= currentUser.username %></a
          >
        </li>
        <li class="nav-item">
          <a style="color: white" class="disp992none nav-link">|</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link2" href="/logout">Logout</a>
        </li>
        <% } %>
      </ul>
    </div>
  </nav>

    <div class="content">
      <div class="container">
        <div
          class="signupcont d-flex align-items-center justify-content-center row"
        >
          <div class="col-md-6 col-xs-12 order-md-1">
            <img
              src="img/pictures/login6.png"
              alt="Image"
              class="signupimg img-fluid"
            />
          </div>
          <div
            style="display: block; width: 2000px"
            class="signinform col-md-6 no-gutters col-xs-12 contents order-md-2"
          >
          <%- include('errors') %>
            <div class="row justify-content-center">
              <div class="col-12">
                <div class="mb-4">
                  <h3
                    class="signup_h3"
                    style="color: #692d63; text-align: center"
                  >
                    SIGN UP
                  </h3>
                </div>

                <form
                  id="registerform"
                  name="registerform"
                  method="POST"
                  action="/register"
                >
                  <div class="form-group first">
                    <input
                      style="padding-left: 10px"
                      type="text"
                      class="form-control"
                      id="username"
                      placeholder="Username"
                      name="username"
                      value="<%= typeof username != 'undefined' ? username : '' %>"
                    />
                  </div>
                  <div class="form-group first">
                    <input
                      style="padding-left: 10px"
                      type="text"
                      class="form-control"
                      id="name"
                      placeholder="Name"
                      name="name"
                      value="<%= typeof name != 'undefined' ? name : '' %>"
                    />
                  </div>
                  <div class="form-group last mb-4">
                    <input
                      style="padding-left: 10px"
                      type="number"
                      class="form-control"
                      id="phno"
                      placeholder="Phone Number"
                      name="phno"
                      value="<%= typeof phno != 'undefined' ? phno : '' %>"
                    />
                  </div>
                  <div class="form-group last mb-4">
                    <input
                      style="padding-left: 10px"
                      type="email"
                      class="form-control"
                      id="email"
                      placeholder="Email"
                      name="email"
                      value="<%= typeof email != 'undefined' ? email : '' %>"
                    />
                  </div>
                  <div class="form-group last mb-4">
                    <input
                      style="padding-left: 10px"
                      type="text"
                      class="form-control"
                      id="age"
                      placeholder="Age"
                      name="age"
                      value="<%= typeof age != 'undefined' ? age : '' %>"
                    />
                  </div>
                  <div class="form-group last mb-4">
                    <input
                      style="padding-left: 10px"
                      type="text"
                      class="form-control"
                      id="instrument"
                      placeholder="Instrument"
                      name="instrument"
                      value="<%= typeof instrument != 'undefined' ? instrument : '' %>"
                    />
                  </div>
                  <div class="form-group last mb-4">
                    <input
                      style="padding-left: 10px"
                      type="password"
                      class="form-control"
                      id="password"
                      placeholder="Password"
                      name="password"
                      value="<%= typeof password != 'undefined' ? password : '' %>"
                    />
                  </div>
                  <!-- <div class="d-flex mb-5 align-items-center">
                    <span class="mr-auto"
                      ><a
                        style="text-decoration: none"
                        href="#"
                        class="signup_a forgot-pass"
                        ><span class="hovercolorchange"
                          >Forgot Password</span
                        ></a
                      ></span
                    >
                  </div> -->
                  <button
                    type="submit"
                    class="btn text-white btn-block btncolorregister"
                  >
                    <span style="font-weight: 2000" class="xxx">Sign Up</span>
                    <i class="animatebuttonarrow fa fa-arrow-right"></i>
                  </button>
                  <div class="adjustmediaregisternow row">
                    <a
                      style="text-decoration: none"
                      class="signup_a ml-auto mr-4 mt-5"
                      href="/login"
                      >Already have an account ?
                      <span class="hovercolorchange">Login Here !</span></a
                    >
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer-section">
      <div class="container">
        <div class="row d-flex align-items-center">
          <div class="col-xl-6 col-lg-7 order-lg-2">
            <div class="row">
              <div class="col-sm-4 d-flex justify-content-center">
                <div class="footer-widget">
                  <h2>About us</h2>
                  <ul>
                    <li><a href="#">Our Story</a></li>
                    <li><a href="#">Sol Music Blog</a></li>
                    <li><a href="#">History</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-4 d-flex justify-content-center">
                <div class="footer-widget">
                  <h2>Products</h2>
                  <ul>
                    <li><a href="#">Music</a></li>
                    <li><a href="#">Subscription</a></li>
                    <li><a href="#">Custom Music</a></li>
                    <li><a href="#">Footage</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-4 d-flex justify-content-center">
                <div class="footer-widget">
                  <h2>Playlists</h2>
                  <ul>
                    <li><a href="#">Newsletter</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Press</a></li>
                    <li><a href="#">Contact</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div
            class="d-flex justify-content-center col-xl-6 col-lg-5 order-lg-1"
          >
            <div class="social-links">
              <a href="#"
                ><i style="font-size: 1.7rem" class="fa fa-instagram"></i
              ></a>
              <a href="#"
                ><i style="font-size: 1.7rem" class="fa fa-pinterest"></i
              ></a>
              <a href="#"
                ><i style="font-size: 1.7rem" class="fa fa-facebook"></i
              ></a>
              <a href="#"
                ><i style="font-size: 1.7rem" class="fa fa-twitter"></i
              ></a>
              <a href="#"
                ><i style="font-size: 1.7rem" class="fa fa-youtube"></i
              ></a>
              <a href="#"
                ><i style="font-size: 1.7rem" class="fa fa-linkedin"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.slicknav.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/main.js"></script>
    <!-- <script>
      const navbarcolorchange = document.querySelector('.navbarcolorchange')
      window.addEventListener('scroll', () => {
          let y =(window.pageYOffset)/3000;
          console.log(y);
          navbarcolorchange.style.backgroundColor = `rgba(47, 137, 252, ${y})`
          })
  </script> -->
    <!-- <script>
    $("#registerform").submit(async function(event){
      window.location.href = "/";
      var form = document.registerform;
      var username = form.username.value;
      var email = form.email.value;
      var password = form.password.value;
      var age = form.age.value;
      var instrument = form.instrument.value;
      var fields = {username, email, password, age, instrument};
      await $.post("/register" , fields, async (data, status) => {
        window.location.href = "/";
        alert(data);
        console.log(data);
        console.log(status);
    });
    });
   
  </script> -->
    <script>
      // Add slideDown animation to Bootstrap dropdown when expanding.
      $(".dropdown").on("show.bs.dropdown", function () {
        $(this).find(".dropdown-menu").first().stop(true, true).slideDown();
      });

      // Add slideUp animation to Bootstrap dropdown when collapsing.
      $(".dropdown").on("hide.bs.dropdown", function () {
        $(this).find(".dropdown-menu").first().stop(true, true).slideUp();
      });
    </script>
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"
    ></script>
    <script
      defer
      src="../../../static.cloudflareinsights.com/beacon.min.js"
      data-cf-beacon='{"rayId":"634fd2744e5c18fc","si":10,"version":"2021.2.0"}'
    ></script>
  </body>
</html>
